[data-theme="Mode 1"] {
  --fynn-color-primary: rgba(29, 117, 239, 100%);
  --fynn-color-primary-rgb: rgba(29, 117, 239, 100%);
  --fynn-color-primary-contrast: rgba(255, 255, 255, 100%);
  --fynn-color-primary-contrast-rgb: rgba(255, 255, 255, 100%);
  --fynn-color-primary-shade: rgba(26, 103, 210, 100%);
  --fynn-color-primary-tint: rgba(52, 131, 241, 100%);
  --fynn-color-primary-faded: rgba(187, 214, 250, 100%);
  --fynn-color-primary-faded-rgb: rgba(187, 214, 250, 100%);
  --fynn-color-primary-faded-contrast: rgba(0, 0, 0, 100%);
  --fynn-color-primary-faded-contrast-rgb: rgba(0, 0, 0, 100%);
  --fynn-color-primary-faded-shade: rgba(165, 188, 220, 100%);
  --fynn-color-primary-faded-tint: rgba(194, 218, 251, 100%);
  --fynn-color-success: rgba(71, 174, 15, 100%);
  --fynn-color-success-rgb: rgba(71, 174, 15, 100%);
  --fynn-color-success-contrast: rgba(255, 255, 255, 100%);
  --fynn-color-success-contrast-rgb: rgba(255, 255, 255, 100%);
  --fynn-color-success-shade: rgba(62, 153, 13, 100%);
  --fynn-color-success-tint: rgba(89, 182, 39, 100%);
  --fynn-color-warning: rgba(255, 196, 9, 100%);
  --fynn-color-warning-rgb: rgba(255, 196, 9, 100%);
  --fynn-color-warning-contrast: rgba(0, 0, 0, 100%);
  --fynn-color-warning-contrast-rgb: rgba(0, 0, 0, 100%);
  --fynn-color-warning-shade: rgba(224, 172, 8, 100%);
  --fynn-color-warning-tint: rgba(255, 202, 34, 100%);
  --fynn-color-danger: rgba(197, 0, 15, 100%);
  --fynn-color-danger-rgb: rgba(197, 0, 15, 100%);
  --fynn-color-danger-contrast: rgba(255, 255, 255, 100%);
  --fynn-color-danger-contrast-rgb: rgba(255, 255, 255, 100%);
  --fynn-color-danger-shade: rgba(173, 0, 13, 100%);
  --fynn-color-danger-tint: rgba(203, 26, 39, 100%);
  --fynn-color-light: rgba(255, 255, 255, 100%);
  --fynn-color-light-rgb: rgba(255, 255, 255, 100%);
  --fynn-color-light-contrast: rgba(0, 0, 0, 100%);
  --fynn-color-light-contrast-rgb: rgba(0, 0, 0, 100%);
  --fynn-color-light-shade: rgba(224, 224, 224, 100%);
  --fynn-color-light-tint: rgba(255, 255, 255, 100%);
  --fynn-color-medium: rgba(95, 95, 95, 100%);
  --fynn-color-medium-rgb: rgba(95, 95, 95, 100%);
  --fynn-color-medium-contrast: rgba(255, 255, 255, 100%);
  --fynn-color-medium-contrast-rgb: rgba(255, 255, 255, 100%);
  --fynn-color-medium-shade: rgba(84, 84, 84, 100%);
  --fynn-color-medium-tint: rgba(111, 111, 111, 100%);
  --fynn-color-dark: rgba(47, 47, 47, 100%);
  --fynn-color-dark-rgb: rgba(47, 47, 47, 100%);
  --fynn-color-dark-contrast: rgba(255, 255, 255, 100%);
  --fynn-color-dark-contrast-rgb: rgba(255, 255, 255, 100%);
  --fynn-color-dark-shade: rgba(41, 41, 41, 100%);
  --fynn-color-dark-tint: rgba(68, 68, 68, 100%);
  --fynn-color-success-faded: rgba(239, 255, 231, 100%);
  --fynn-color-success-faded-rgb: rgba(239, 255, 231, 100%);
  --fynn-color-success-faded-contrast: rgba(0, 0, 0, 100%);
  --fynn-color-success-faded-contrast-rgb: rgba(0, 0, 0, 100%);
  --fynn-color-success-faded-shade: rgba(210, 224, 203, 100%);
  --fynn-color-success-faded-tint: rgba(241, 255, 233, 100%);
  --fynn-color-warning-faded: rgba(255, 243, 206, 100%);
  --fynn-color-warning-faded-rgb: rgba(255, 243, 206, 100%);
  --fynn-color-warning-faded-contrast: rgba(0, 0, 0, 100%);
  --fynn-color-warning-faded-contrast-rgb: rgba(0, 0, 0, 100%);
  --fynn-color-warning-faded-shade: rgba(224, 214, 181, 100%);
  --fynn-color-warning-faded-tint: rgba(255, 244, 211, 100%);
  --fynn-color-danger-faded: rgba(246, 217, 219, 100%);
  --fynn-color-danger-faded-rgb: rgba(246, 217, 219, 100%);
  --fynn-color-danger-faded-contrast: rgba(0, 0, 0, 100%);
  --fynn-color-danger-faded-contrast-rgb: rgba(0, 0, 0, 100%);
  --fynn-color-danger-faded-shade: rgba(216, 191, 193, 100%);
  --fynn-color-danger-faded-tint: rgba(247, 221, 223, 100%);
  --fynn-color-light-faded: rgba(244, 244, 244, 100%);
  --fynn-color-light-faded-rgb: rgba(255, 255, 255, 100%);
  --fynn-color-light-faded-contrast: rgba(0, 0, 0, 100%);
  --fynn-color-light-faded-contrast-rgb: rgba(0, 0, 0, 100%);
  --fynn-color-light-faded-shade: rgba(215, 215, 215, 100%);
  --fynn-color-light-faded-tint: rgba(238, 238, 238, 100%);
  --fynn-color-primary-subtle: rgba(242, 247, 255, 100%);
  --fynn-color-primary-subtle-rgb: rgba(242, 247, 255, 100%);
  --fynn-color-primary-subtle-contrast: rgba(0, 0, 0, 100%);
  --fynn-color-primary-subtle-contrast-rgb: rgba(0, 0, 0, 100%);
  --fynn-color-primary-subtle-shade: rgba(213, 217, 224, 100%);
  --fynn-color-primary-subtle-tint: rgba(243, 248, 255, 100%);
  --fynn-color-medium-subtle-rgb: rgba(225, 225, 225, 100%);
  --fynn-color-medium-subtle-contrast: rgba(0, 0, 0, 100%);
  --fynn-color-medium-subtle-contrast-rgb: rgba(0, 0, 0, 100%);
  --fynn-color-medium-subtle-shade: rgba(198, 198, 198, 100%);
  --fynn-color-medium-subtle-tint: rgba(228, 228, 228, 100%);
  --fynn-color-medium-subtle: rgba(225, 225, 225, 100%);
  --fynn-color-medium-faded: rgba(168, 171, 175, 100%);
  --fynn-color-medium-faded-rgb: rgba(168, 171, 175, 100%);
  --fynn-color-medium-faded-contrast: rgba(0, 0, 0, 100%);
  --fynn-color-medium-faded-contrast-rgb: rgba(0, 0, 0, 100%);
  --fynn-color-medium-faded-shade: rgba(148, 150, 154, 100%);
  --fynn-color-medium-faded-tint: rgba(177, 179, 183, 100%);
  --fynn-color-warning-strong: rgba(170, 132, 9, 100%);
  --fynn-color-warning-strong-rgb: rgba(170, 132, 9, 100%);
  --fynn-color-warning-strong-contrast: rgba(0, 0, 0, 100%);
  --fynn-color-warning-strong-contrast-rgb: rgba(0, 0, 0, 100%);
  --fynn-color-warning-strong-shade: rgba(150, 116, 8, 100%);
  --fynn-color-warning-strong-tint: rgba(179, 144, 34, 100%);
  --fynn-color-testing-color: rgba(255, 0, 0, 100%);
}

[data-theme="Mode 1"] {
  --fynn-padding-0: var(--fynn-space-0);
  --fynn-padding-4: var(--fynn-space-4);
  --fynn-padding-8: var(--fynn-space-8);
  --fynn-padding-12: var(--fynn-space-12);
  --fynn-padding-16: var(--fynn-space-16);
  --fynn-padding-20: var(--fynn-space-20);
  --fynn-padding-24: var(--fynn-space-24);
  --fynn-padding-32: var(--fynn-space-32);
  --fynn-padding-40: var(--fynn-space-40);
  --fynn-padding-48: var(--fynn-space-48);
  --fynn-padding-64: var(--fynn-space-64);
}

[data-theme="Mode 1"] {
  --fynn-color-primary: var(--fynn-color-primary);
  --fynn-colors-primary-contrast: var(--fynn-color-primary-contrast);
  --fynn-colors-primary-shade: var(--fynn-color-primary-shade);
  --fynn-colors-primary-tint: var(--fynn-color-primary-tint);
  --fynn-colors-primary-faded-base: var(--fynn-color-primary-faded);
  --fynn-colors-primary-faded-contrast: var(--fynn-color-primary-faded-contrast);
  --fynn-colors-primary-faded-shade: var(--fynn-color-primary-faded-shade);
  --fynn-colors-primary-faded-tint: var(--fynn-color-primary-faded-tint);
  --fynn-colors-success-base: var(--fynn-color-success);
  --fynn-colors-success-contrast: var(--fynn-color-success-contrast);
  --fynn-colors-success-shade: var(--fynn-color-success-shade);
  --fynn-colors-success-tint: var(--fynn-color-success-tint);
  --fynn-colors-warning-base: var(--fynn-color-warning);
  --fynn-colors-warning-contrast: var(--fynn-color-warning-contrast);
  --fynn-colors-warning-shade: var(--fynn-color-warning-shade);
  --fynn-colors-warning-tint: var(--fynn-color-warning-tint);
  --fynn-colors-danger-base: var(--fynn-color-danger);
  --fynn-colors-danger-contrast: var(--fynn-color-danger-contrast);
  --fynn-colors-danger-shade: var(--fynn-color-danger-shade);
  --fynn-colors-danger-tint: var(--fynn-color-danger-tint);
  --fynn-colors-fg-primary-base: var(--fynn-color-dark);
  --fynn-colors-fg-primary-contrast: var(--fynn-color-dark-contrast);
  --fynn-colors-fg-primary-shade: var(--fynn-color-dark-shade);
  --fynn-colors-fg-primary-tint: var(--fynn-color-dark-tint);
  --fynn-colors-fg-secondary-base: var(--fynn-color-medium);
  --fynn-colors-fg-secondary-contrast: var(--fynn-color-medium-contrast);
  --fynn-colors-fg-secondary-shade: var(--fynn-color-medium-shade);
  --fynn-colors-fg-secondary-tint: var(--fynn-color-medium-tint);
  --fynn-colors-bg-primary-base: var(--fynn-color-light);
  --fynn-colors-bg-primary-contrast: var(--fynn-color-light-contrast);
  --fynn-colors-bg-primary-shade: var(--fynn-color-light-shade);
  --fynn-colors-bg-primary-tint: var(--fynn-color-light-tint);
  --fynn-colors-success-faded-base: var(--fynn-color-success-faded);
  --fynn-colors-success-faded-contrast: var(--fynn-color-success-faded-contrast);
  --fynn-colors-success-faded-shade: var(--fynn-color-success-faded-shade);
  --fynn-colors-success-faded-tint: var(--fynn-color-success-faded-tint);
  --fynn-colors-warning-faded-base: var(--fynn-color-warning-faded);
  --fynn-colors-warning-faded-contrast: var(--fynn-color-warning-faded-contrast);
  --fynn-colors-warning-faded-shade: var(--fynn-color-warning-faded-shade);
  --fynn-colors-warning-faded-tint: var(--fynn-color-warning-faded-tint);
  --fynn-colors-danger-faded-base: var(--fynn-color-danger-faded);
  --fynn-colors-danger-faded-contrast: var(--fynn-color-danger-faded-contrast);
  --fynn-colors-danger-faded-shade: var(--fynn-color-danger-faded-shade);
  --fynn-colors-danger-faded-tint: var(--fynn-color-danger-faded-tint);
  --fynn-colors-bg-secondary-base: var(--fynn-color-light-faded);
  --fynn-colors-bg-secondary-contrast: var(--fynn-color-light-faded-contrast);
  --fynn-colors-bg-secondary-shade: var(--fynn-color-light-faded-shade);
  --fynn-colors-bg-secondary-tint: var(--fynn-color-light-faded-tint);
  --fynn-colors-primary-base: var(--fynn-color-primary);
}

[data-theme="Mode 1"] {

}
